<head>
  <title>Rouge Tomate Chelsea</title>
  <link rel='shortcut icon' href='/media/favicon.ico' type='image/x-icon'/ >

  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <!-- BASIC -->
  <meta name="copyright" content="©RougeTomate" />
  <meta name="author" lang="en" content="Hello Velocity" />
  <meta name="robots" content="Index,Follow" />
  <meta name="description" content=""/>
  <meta name="keyword" content="" />

  <link rel='stylesheet' href='/stylesheets/basscss.min.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome-4.3.0/css/font-awesome.css' />
  <link rel='stylesheet' href='/stylesheets/util.css' />

  <!-- FACEBOOK -->
  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Rouge Tomate Chelsea" />
  <meta property="og:description" content="How much does culture influence creative thinking?" />
  <meta property="og:image" content=""/>

  <!-- TWITTER -->
  <meta name="twitter:card" content=""> <!-- summary || photo || video -->
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="Rouge Tomate Chelsea">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

</head>
