<head>
  <title>Rouge Tomate Chelsea</title>
  <link rel='shortcut icon' href='/media/favicon.ico' type='image/x-icon'/ >

  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <!-- BASIC -->
  <meta name="copyright" content="©RougeTomate" />
  <meta name="author" lang="en" content="Hello Velocity" />
  <meta name="robots" content="Index,Follow" />
  <meta name="description" content="Rouge Tomate Chelsea is the new iteration of the former Rouge Tomate in Manhattan's Upper East Side, now calling home a 19th Century reclaimed horse stable on West 18th Street.  RT Chelsea maintains its strong commitment to seasonality, sustainability, and health conscious fare while also incorporating characteristics of it's new neighborhood of Chelsea.  Simple, approachable plates by Executive Chef Andy Bennett  and a vast selection of high quality biodynamic, organic and natural wines by Partner and Beverage Director Pascaline Lepeltier, MS  make this a premier neighborhood destination.  "/>
  <meta name="keyword" content="restaurant, lunch, dinner, chelsea, nyc, brunch, health, food, dining, casual, wine, health, nutrition, sustainability, wine, cocktails, vegetables, spirits, beer, bar, private dining, open all day, Andy Bennett, Pascaline Lepeltier, master sommelier, farmer's market, seasonality, fresh juices, mocktails,  SPE, Health through Food, community, neighborhood, hospitality" />

  <link rel='stylesheet' href='/stylesheets/basscss.min.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome-4.3.0/css/font-awesome.css' />
  <link rel='stylesheet' href='/stylesheets/util.css' />

  <!-- FACEBOOK -->
  <meta property="og:url" content="http://www.rougetomatechelsea.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Rouge Tomate Chelsea" />
  <meta property="og:description" content="Rouge Tomate Chelsea is the new iteration of the former Rouge Tomate in Manhattan's Upper East Side, now calling home a 19th Century reclaimed horse stable on West 18th Street.  RT Chelsea maintains its strong commitment to seasonality, sustainability, and health conscious fare while also incorporating characteristics of it's new neighborhood of Chelsea.  Simple, approachable plates by Executive Chef Andy Bennett  and a vast selection of high quality biodynamic, organic and natural wines by Partner and Beverage Director Pascaline Lepeltier, MS  make this a premier neighborhood destination.  " />
  <meta property="og:image" content=""/>

  <!-- TWITTER -->
  <meta name="twitter:card" content=""> <!-- summary || photo || video -->
  <meta name="twitter:url" content="http://www.rougetomatechelsea.com">
  <meta name="twitter:title" content="Rouge Tomate Chelsea">
  <meta name="twitter:description" content="Rouge Tomate Chelsea is the new iteration of the former Rouge Tomate in Manhattan's Upper East Side, now calling home a 19th Century reclaimed horse stable on West 18th Street.  RT Chelsea maintains its strong commitment to seasonality, sustainability, and health conscious fare while also incorporating characteristics of it's new neighborhood of Chelsea.  Simple, approachable plates by Executive Chef Andy Bennett  and a vast selection of high quality biodynamic, organic and natural wines by Partner and Beverage Director Pascaline Lepeltier, MS  make this a premier neighborhood destination.  ">
  <meta name="twitter:image" content="">

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67426824-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
