<!DOCTYPE html>
<html>
  <script type="text/javascript">
    if( screen.width > 699 ) {
      document.location = "/";
    }
  </script>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/mobile.css' />
  <body class="relative">
    <div class="header">

      <div class="logo"><img src="/media/logo.png"></div>

      <div class="info red right">
        <a href="https://www.google.com/maps/place/126+W+18th+St,+New+York,+NY+10011" target="_blank"><div class="address red">126 W 18th St.,<br> New York, NY, 10011</div></a>
        <a href="mail:chelsea@rougetomate.com" target="_blank"><div class="email red">rt@rougetomate.com</div></a>
      </div>

    </div>

    <div class="main-image mb3"></div>

    <div class="game-wrapper relative">
      <div class="game p2 mb4 relative">
        <div class="title red h3 bold mb1">How many tomatoes are in the scene?</div>
        <div class="content gray2 h4 bold"> Tweet your best guess with the hastag <span class="red"> #RTChelseaOpening </span> for the chance to win <span class="underline">a round of cocktails!</span>
        </div>
        <div class="game-submit p2 absolute">
          <input type="number" class="submit-input h3 bold p2 absolute" placeholder="0"></input>
          <div class="submit-tweet bg-red absolute circle"><i class="fa white fa-twitter"></i></div>
        </div>
      </div>
    </div>

    <div class="rules p2 mb3">

      <div class="content-wrapper">
        <div class="content mt2">
          <span class="rules-title red bold mb4 h2 p2">The Rules Of The Game</span>
          <div class="rules-content-wrapper flex-wrap flex">

            <!-- Question 1 -->
            <div class="question p2">
              <div class="h3 bold gray2 mb1">How do I play?</div>
              <div class="h4 gray2 mb2">
                <p>It’s simple! Guess how many tomatoes are in the scene and tweet your best guess at @RTChelsea with the tag  #RTChelseaOpening. But - only one guess per person (don’t think we won’t check)! </p>
                <p>The first person to tweet the correct answer wins. If no one tweets the correct answer, the closest guess will take the prize. </p>
              </div>
            </div>

            <!-- Question 2 -->
            <div class="question p2">
              <div class="h3 bold gray2 mb1">How do I know if I've won?</div>
              <div class="h4 gray2 mb2">
                <p>We’re monitoring tweets with the hashtag #RTChelseaOpening, so make sure your guess is tagged and we’ll see it! </p> 
                <p>If you win, we’ll Direct Message you on Twitter - so make sure you’re following @RTChelsea</p>
              </div>
            </div>

            <!-- Question 3 -->
            <div class="question p2">
              <div class="h3 bold gray2 mb1">What do I win?</div>
              <div class="h4 gray2 mb2">
                <p>The prize this time is a round of cocktails for 4!</p> 
                <p>Yes - this time. There will be multiple competitions in the coming weeks leading up to the opening, so make sure you revisit this website if you want more chances.</p>
              </div>
            </div>

            <!-- Question 4 -->
            <div class="question p2">
              <div class="h3 bold gray2 mb1">If I win, when and how do I receive my prize?</div>
              <div class="h4 gray2 mb2">
                <p>Come to Rouge Tomate Chelsea once we open this winter. Prove to us that you’re the user from twitter (show us on your phone) and we’ll get you your winning drinks! </p>
              </div>
            </div>

            <!-- Question 5 -->
            <div class="question p2">
              <div class="h3 bold gray2 mb1">I don’t have a Twitter. How do I play?</div>
              <div class="h4 gray2 mb2">
                <p>You can make a Twitter account for free at www.twitter.com!</p>
              </div>
            </div>

            <!-- Question 6 -->
            <div class="question p2">
              <div class="h3 bold gray2 mb1">More Questions?</div>
              <div class="h4 gray2 mb2">
                <p>Email or Tweet at us if you have any other questions about the competition.</p>
                <p>E: chelsea@rougetomate.com<br>T: @RTChelsea</p>
              </div>           
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="social red center mb2">
      <a href="https://www.facebook.com/rougetomatenyc" target="_blank"><i class="fa red fa-facebook-official"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;

      <a href="https://instagram.com/rougetomatenyc/" target="_blank"><i class="fa red fa-instagram"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;

      <a href="https://twitter.com/rougetomatenyc" target="_blank"><i class="fa red fa-twitter-square"></i></a>
    </div>

    <a href="mailto:careers@rougetomate.com" target="_blank"><div class="careers center red">Join the team!</div></a>
    <a href="mailto:chelsea@rougetomate.com" target="_blank"><div class="careers center red mb3">chelsea@rougetomate.com</div></a>

    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/index.js"></script>

  </body>
</html>
