body {
  width: 100vw;
  margin: 0px;
  font-family: 'SourceSansPro' !important;
  font-size: 14px;
}
.header {
  height: 60px;
  background-color: white;
  border-bottom: 3px solid red;
  padding: 20px;
}
.logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.main-image {
  height: 80vh;
  background-image: url( '../media/RougeTomateChelsea.jpg' );
  background-size: cover;
  background-position: center;
}
.game-wrapper {
  padding-bottom: 36px;
  border-bottom: 3px solid red;
}
.game {
  border: 3px solid red;
  width: 74vw;
  margin: 0 auto;
  line-height: 1.6em;
}
.game-submit {
  width: 74vw;
  left: -3px;
  bottom: -53px;
  border-top: 0px solid red !important;
  border: 3px solid red;
  height: 15px;
  background-color: rgba(0,0,0,0);
}
.submit-input {
  background-color: rgba( 0,0,0,0);
  left: 0px;
  top:  0px;
  height: 100% !important;
  width: 100%;
  border: 0 solid white;
  padding-left: inherit !important;
  padding-left: inherit !important;
}
.submit-tweet {
  height: 24px; 
  width: 24px; 
  text-align: center;
  line-height: 24px;
  right: 8px;
  top: 8px;
  padding: 4px;
  cursor: pointer;
}
.submit-tweet > i {
  margin-top: 4px;
}
.rules {
  border-bottom: 3px solid red;
}
.social i {
  font-size: 24px;
}

/* Addition */
.game-navigation {
  position: absolute;
  bottom: 200px;
  width: 72vw;
  text-align: center;
}
.game-navigation-selector {
  border: 2px solid red;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: red;
  cursor: pointer;
  background-color: white;
}
.game-navigation-selector.active {
  color: white;
  background-color: red;
  cursor: inherit;
}

