body {
  margin: 0px;
  font-family: 'SourceSansPro' !important;
  font-size: 14px;
  min-width: 800px;
  min-height: 500px;
}
.bg-image {
  background-image: url( '../media/RougeTomateChelsea.jpg' );
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-width: 800px;
  min-height: 500px;
  height: 100vh;
}
.logo {
  left: 20px;
  top: 20px;
}
.logo img {
  width: 80px;
  height: 80px;
}
.info {
  left: 0px;
  bottom: 0px;
  font-size: 1.2em;
}
.info a {
  text-decoration: none;
}
.social {
  right: 0px;
  bottom: 0px;
  font-size: 1.6em;
}
.game {
  top: 20px;
  right: 20px;
  width: 220px;
  height: auto;;
  border: 3px solid red;
  line-height: 1.6em;
}
.game-submit {
  width: 220px; 
  left: -3px;
  bottom: -53px;
  border-top: 0px solid red !important;
  border: 3px solid red;
  height: 15px;
  background-color: rgba(0,0,0,0);
}
.submit-input {
  background-color: rgba( 0,0,0,0);
  left: 0px;
  top:  0px;
  height: 100% !important;
  width: 100%;
  border: 0 solid white;
  padding-left: inherit !important;
  padding-left: inherit !important;
}
.submit-tweet {
  height: 24px; 
  width: 24px; 
  text-align: center;
  line-height: 24px;
  right: 8px;
  top: 8px;
  padding: 4px;
  cursor: pointer;
  font-size: 1.3em;
}
.submit-tweet > i {
  margin-top: 4px;
}
.game-download {
  right: 0px;
  bottom: -112px;
  text-decoration: underline;
  cursor: pointer;
}
.game-rules {
  right: 0px;
  bottom: -86px;
  text-decoration: underline;
  cursor: pointer;
}
.rules {
  z-index: 1000;
  display: none;
}
.rules .overlay {
  background-color: rgba(255,255,255,0.9);
  left: 50%;
  top: 50%;
  width: 80vw;
  height: 80vh;
  margin-left: -44vw;
  margin-top: -44vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.rules .exit {
  right: 32px;
  top: 24px;
  font-size: 32px;
  cursor: pointer;
  z-index: 1001;
}
.rules .content-wrapper {
  left: 50%;
  top: 50%;
  width: 80vw;
  height: 80vh;
  margin-left: -44vw;
  margin-top: -44vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  overflow: scroll;
}
.rules .content {
  width: 80vw;
  margin: 0 auto;
}
.rules .rules-title {
  border-bottom: 3px solid red;
  margin-bottom: 20px;
}
.question {
  width: 300px;
  padding-bottom: 0px !important;
}
@media screen and (max-width: 830px) {
  .rules .overlay ,
  .rules .content ,
  .rules .content-wrapper {
    width: 65vw;
  }
  .rules .overlay ,
  .rules .content-wrapper {
    margin-left: -36.5vw;
  }
}
@media screen and (min-width: 830px) and (max-width: 1000px) {
  .rules .overlay ,
  .rules .content ,
  .rules .content-wrapper {
    width: 80vw;
  }
}
@media screen and (min-width: 1000px ) and (max-width: 1245px) {
  .rules .overlay ,
  .rules .content ,
  .rules .content-wrapper {
    width: 65vw;
  }
  .rules .overlay ,
  .rules .content-wrapper {
    margin-left: -36.5vw;
  }
}
@media screen and (min-width: 1245px) {
  .question {
    width: 300px;
  }
}


